@font-face {font-family: "PECFontIcons";
  src: url("PECFontIcons.woff2?t=1650453955365") format("woff2"),
  url("PECFontIcons.woff?t=1650453955365") format("woff"),
  url('PECFontIcons.ttf?t=1650453955365') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('PECFontIcons.svg?t=1650453955365#PECFontIcons') format('svg'); /* iOS 4.1- */
}

[class^="PECFontIcons-"], [class*=" PECFontIcons-"] {
  font-family: 'PECFontIcons' !important;
  /*font-size:16px;*/
  font-size:5rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 100%;
  vertical-align: middle;
}

.PECFontIcons-365:before { content: "\ea01"; }
.PECFontIcons-accountability:before { content: "\ea02"; }
.PECFontIcons-airplane:before { content: "\ea03"; }
.PECFontIcons-atrrs:before { content: "\ea04"; }
.PECFontIcons-billeting-mgmt:before { content: "\ea05"; }
.PECFontIcons-breakout:before { content: "\ea06"; }
.PECFontIcons-bus:before { content: "\ea07"; }
.PECFontIcons-cloud:before { content: "\ea08"; }
.PECFontIcons-cloudy-gusts:before { content: "\ea09"; }
.PECFontIcons-cloudy-windy:before { content: "\ea0a"; }
.PECFontIcons-cloudy:before { content: "\ea0b"; }
.PECFontIcons-comment-box:before { content: "\ea0c"; }
.PECFontIcons-conferencing:before { content: "\ea0d"; }
.PECFontIcons-course-catalog:before { content: "\ea0e"; }
.PECFontIcons-course-mgmt:before { content: "\ea0f"; }
.PECFontIcons-court-martial:before { content: "\ea10"; }
.PECFontIcons-dashboard:before { content: "\ea11"; }
.PECFontIcons-dust:before { content: "\ea12"; }
.PECFontIcons-email:before { content: "\ea13"; }
.PECFontIcons-eo:before { content: "\ea14"; }
.PECFontIcons-event-registration:before { content: "\ea15"; }
.PECFontIcons-exclamation:before { content: "\ea16"; }
.PECFontIcons-express-checkin:before { content: "\ea17"; }
.PECFontIcons-faq:before { content: "\ea18"; }
.PECFontIcons-feedback:before { content: "\ea19"; }
.PECFontIcons-fire:before { content: "\ea1a"; }
.PECFontIcons-fitness-consult:before { content: "\ea1b"; }
.PECFontIcons-fog:before { content: "\ea1c"; }
.PECFontIcons-gale-warning:before { content: "\ea1d"; }
.PECFontIcons-gear:before { content: "\ea1e"; }
.PECFontIcons-hail:before { content: "\ea1f"; }
.PECFontIcons-hamburger:before { content: "\ea20"; }
.PECFontIcons-help:before { content: "\ea21"; }
.PECFontIcons-history:before { content: "\ea22"; }
.PECFontIcons-home:before { content: "\ea23"; }
.PECFontIcons-hot:before { content: "\ea24"; }
.PECFontIcons-housekeeping:before { content: "\ea25"; }
.PECFontIcons-humidity:before { content: "\ea26"; }
.PECFontIcons-hurricane-warning:before { content: "\ea27"; }
.PECFontIcons-hurricane:before { content: "\ea28"; }
.PECFontIcons-i:before { content: "\ea29"; }
.PECFontIcons-ia-training:before { content: "\ea2a"; }
.PECFontIcons-iam-mgmt:before { content: "\ea2b"; }
.PECFontIcons-leadership:before { content: "\ea2c"; }
.PECFontIcons-lessons-learned:before { content: "\ea2d"; }
.PECFontIcons-light-bulb-lit:before { content: "\ea2e"; }
.PECFontIcons-light-bulb:before { content: "\ea2f"; }
.PECFontIcons-lightning:before { content: "\ea30"; }
.PECFontIcons-link:before { content: "\ea31"; }
.PECFontIcons-little-dancing-man:before { content: "\ea32"; }
.PECFontIcons-map:before { content: "\ea33"; }
.PECFontIcons-maximize:before { content: "\ea34"; }
.PECFontIcons-meal:before { content: "\ea35"; }
.PECFontIcons-ms-teams:before { content: "\ea36"; }
.PECFontIcons-mwr:before { content: "\ea37"; }
.PECFontIcons-na:before { content: "\ea38"; }
.PECFontIcons-network-user-agreement:before { content: "\ea39"; }
.PECFontIcons-organization:before { content: "\ea3a"; }
.PECFontIcons-pin:before { content: "\ea3b"; }
.PECFontIcons-poc-workspace:before { content: "\ea3c"; }
.PECFontIcons-rain-mix:before { content: "\ea3d"; }
.PECFontIcons-rain:before { content: "\ea3e"; }
.PECFontIcons-registration-desk:before { content: "\ea3f"; }
.PECFontIcons-sandstorm:before { content: "\ea40"; }
.PECFontIcons-sarc:before { content: "\ea41"; }
.PECFontIcons-showers:before { content: "\ea42"; }
.PECFontIcons-sleet:before { content: "\ea43"; }
.PECFontIcons-small-craft-warning:before { content: "\ea44"; }
.PECFontIcons-smog:before { content: "\ea45"; }
.PECFontIcons-smoke:before { content: "\ea46"; }
.PECFontIcons-snow-wind:before { content: "\ea47"; }
.PECFontIcons-snow:before { content: "\ea48"; }
.PECFontIcons-snowflake-cold:before { content: "\ea49"; }
.PECFontIcons-solar-eclipse:before { content: "\ea4a"; }
.PECFontIcons-sprinkle:before { content: "\ea4b"; }
.PECFontIcons-storm-showers:before { content: "\ea4c"; }
.PECFontIcons-storm-showers_2:before { content: "\ea4d"; }
.PECFontIcons-storm-warning:before { content: "\ea4e"; }
.PECFontIcons-storm-warning_2:before { content: "\ea4f"; }
.PECFontIcons-strong-wind:before { content: "\ea50"; }
.PECFontIcons-strong-wind_2:before { content: "\ea51"; }
.PECFontIcons-sunrise:before { content: "\ea52"; }
.PECFontIcons-sunrise_2:before { content: "\ea53"; }
.PECFontIcons-sunset:before { content: "\ea54"; }
.PECFontIcons-sunset_2:before { content: "\ea55"; }
.PECFontIcons-support:before { content: "\ea56"; }
.PECFontIcons-survey:before { content: "\ea57"; }
.PECFontIcons-thumb-down:before { content: "\ea58"; }
.PECFontIcons-thumb-up:before { content: "\ea59"; }
.PECFontIcons-thunderstorm:before { content: "\ea5a"; }
.PECFontIcons-thunderstorm_2:before { content: "\ea5b"; }
.PECFontIcons-tornado:before { content: "\ea5c"; }
.PECFontIcons-training-mgmt:before { content: "\ea5d"; }
.PECFontIcons-trash:before { content: "\ea5e"; }
.PECFontIcons-tsunami:before { content: "\ea5f"; }
.PECFontIcons-usage-stats:before { content: "\ea60"; }
.PECFontIcons-wifi:before { content: "\ea61"; }
.PECFontIcons-wind-beufort-0:before { content: "\ea62"; }
.PECFontIcons-wind-beufort-1:before { content: "\ea63"; }
.PECFontIcons-wind-beufort-10:before { content: "\ea64"; }
.PECFontIcons-wind-beufort-11:before { content: "\ea65"; }
.PECFontIcons-wind-beufort-12:before { content: "\ea66"; }
.PECFontIcons-wind-beufort-2:before { content: "\ea67"; }
.PECFontIcons-wind-beufort-3:before { content: "\ea68"; }
.PECFontIcons-wind-beufort-4:before { content: "\ea69"; }
.PECFontIcons-wind-beufort-5:before { content: "\ea6a"; }
.PECFontIcons-wind-beufort-6:before { content: "\ea6b"; }
.PECFontIcons-wind-beufort-7:before { content: "\ea6c"; }
.PECFontIcons-wind-beufort-8:before { content: "\ea6d"; }
.PECFontIcons-wind-beufort-9:before { content: "\ea6e"; }
.PECFontIcons-wind-deg:before { content: "\ea6f"; }
.PECFontIcons-wind-rain:before { content: "\ea70"; }
.PECFontIcons-windy:before { content: "\ea71"; }

$PECFontIcons-365: "\ea01";
$PECFontIcons-accountability: "\ea02";
$PECFontIcons-airplane: "\ea03";
$PECFontIcons-atrrs: "\ea04";
$PECFontIcons-billeting-mgmt: "\ea05";
$PECFontIcons-breakout: "\ea06";
$PECFontIcons-bus: "\ea07";
$PECFontIcons-cloud: "\ea08";
$PECFontIcons-cloudy-gusts: "\ea09";
$PECFontIcons-cloudy-windy: "\ea0a";
$PECFontIcons-cloudy: "\ea0b";
$PECFontIcons-comment-box: "\ea0c";
$PECFontIcons-conferencing: "\ea0d";
$PECFontIcons-course-catalog: "\ea0e";
$PECFontIcons-course-mgmt: "\ea0f";
$PECFontIcons-court-martial: "\ea10";
$PECFontIcons-dashboard: "\ea11";
$PECFontIcons-dust: "\ea12";
$PECFontIcons-email: "\ea13";
$PECFontIcons-eo: "\ea14";
$PECFontIcons-event-registration: "\ea15";
$PECFontIcons-exclamation: "\ea16";
$PECFontIcons-express-checkin: "\ea17";
$PECFontIcons-faq: "\ea18";
$PECFontIcons-feedback: "\ea19";
$PECFontIcons-fire: "\ea1a";
$PECFontIcons-fitness-consult: "\ea1b";
$PECFontIcons-fog: "\ea1c";
$PECFontIcons-gale-warning: "\ea1d";
$PECFontIcons-gear: "\ea1e";
$PECFontIcons-hail: "\ea1f";
$PECFontIcons-hamburger: "\ea20";
$PECFontIcons-help: "\ea21";
$PECFontIcons-history: "\ea22";
$PECFontIcons-home: "\ea23";
$PECFontIcons-hot: "\ea24";
$PECFontIcons-housekeeping: "\ea25";
$PECFontIcons-humidity: "\ea26";
$PECFontIcons-hurricane-warning: "\ea27";
$PECFontIcons-hurricane: "\ea28";
$PECFontIcons-i: "\ea29";
$PECFontIcons-ia-training: "\ea2a";
$PECFontIcons-iam-mgmt: "\ea2b";
$PECFontIcons-leadership: "\ea2c";
$PECFontIcons-lessons-learned: "\ea2d";
$PECFontIcons-light-bulb-lit: "\ea2e";
$PECFontIcons-light-bulb: "\ea2f";
$PECFontIcons-lightning: "\ea30";
$PECFontIcons-link: "\ea31";
$PECFontIcons-little-dancing-man: "\ea32";
$PECFontIcons-map: "\ea33";
$PECFontIcons-maximize: "\ea34";
$PECFontIcons-meal: "\ea35";
$PECFontIcons-ms-teams: "\ea36";
$PECFontIcons-mwr: "\ea37";
$PECFontIcons-na: "\ea38";
$PECFontIcons-network-user-agreement: "\ea39";
$PECFontIcons-organization: "\ea3a";
$PECFontIcons-pin: "\ea3b";
$PECFontIcons-poc-workspace: "\ea3c";
$PECFontIcons-rain-mix: "\ea3d";
$PECFontIcons-rain: "\ea3e";
$PECFontIcons-registration-desk: "\ea3f";
$PECFontIcons-sandstorm: "\ea40";
$PECFontIcons-sarc: "\ea41";
$PECFontIcons-showers: "\ea42";
$PECFontIcons-sleet: "\ea43";
$PECFontIcons-small-craft-warning: "\ea44";
$PECFontIcons-smog: "\ea45";
$PECFontIcons-smoke: "\ea46";
$PECFontIcons-snow-wind: "\ea47";
$PECFontIcons-snow: "\ea48";
$PECFontIcons-snowflake-cold: "\ea49";
$PECFontIcons-solar-eclipse: "\ea4a";
$PECFontIcons-sprinkle: "\ea4b";
$PECFontIcons-storm-showers: "\ea4c";
$PECFontIcons-storm-showers_2: "\ea4d";
$PECFontIcons-storm-warning: "\ea4e";
$PECFontIcons-storm-warning_2: "\ea4f";
$PECFontIcons-strong-wind: "\ea50";
$PECFontIcons-strong-wind_2: "\ea51";
$PECFontIcons-sunrise: "\ea52";
$PECFontIcons-sunrise_2: "\ea53";
$PECFontIcons-sunset: "\ea54";
$PECFontIcons-sunset_2: "\ea55";
$PECFontIcons-support: "\ea56";
$PECFontIcons-survey: "\ea57";
$PECFontIcons-thumb-down: "\ea58";
$PECFontIcons-thumb-up: "\ea59";
$PECFontIcons-thunderstorm: "\ea5a";
$PECFontIcons-thunderstorm_2: "\ea5b";
$PECFontIcons-tornado: "\ea5c";
$PECFontIcons-training-mgmt: "\ea5d";
$PECFontIcons-trash: "\ea5e";
$PECFontIcons-tsunami: "\ea5f";
$PECFontIcons-usage-stats: "\ea60";
$PECFontIcons-wifi: "\ea61";
$PECFontIcons-wind-beufort-0: "\ea62";
$PECFontIcons-wind-beufort-1: "\ea63";
$PECFontIcons-wind-beufort-10: "\ea64";
$PECFontIcons-wind-beufort-11: "\ea65";
$PECFontIcons-wind-beufort-12: "\ea66";
$PECFontIcons-wind-beufort-2: "\ea67";
$PECFontIcons-wind-beufort-3: "\ea68";
$PECFontIcons-wind-beufort-4: "\ea69";
$PECFontIcons-wind-beufort-5: "\ea6a";
$PECFontIcons-wind-beufort-6: "\ea6b";
$PECFontIcons-wind-beufort-7: "\ea6c";
$PECFontIcons-wind-beufort-8: "\ea6d";
$PECFontIcons-wind-beufort-9: "\ea6e";
$PECFontIcons-wind-deg: "\ea6f";
$PECFontIcons-wind-rain: "\ea70";
$PECFontIcons-windy: "\ea71";

