@font-face {
  font-family: "PECFontIcons";
  src: url("../fonts/PECFontIcons.woff2?t=1650453955365") format("woff2"),
  url("../fonts/PECFontIcons.woff?t=1650453955365") format("woff"),
  url('../fonts/PECFontIcons.ttf?t=1650453955365') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/PECFontIcons.svg?t=1650453955365#PECFontIcons') format('svg'); /* iOS 4.1- */
}

[class^="PECFontIcons-"], [class*=" PECFontIcons-"] {
  font-family: 'PECFontIcons' !important;
  /*font-size:16px;*/
  font-size:5rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 100%;
  vertical-align: middle;
}


.PECFontIcons-365:before { content: "\ea01"; }
.PECFontIcons-accountability:before { content: "\ea02"; }
.PECFontIcons-airplane:before { content: "\ea03"; }
.PECFontIcons-atrrs:before { content: "\ea04"; }
.PECFontIcons-billeting-mgmt:before { content: "\ea05"; }
.PECFontIcons-breakout:before { content: "\ea06"; }
.PECFontIcons-bus:before { content: "\ea07"; }
.PECFontIcons-cloud:before { content: "\ea08"; }
.PECFontIcons-cloudy-gusts:before { content: "\ea09"; }
.PECFontIcons-cloudy-windy:before { content: "\ea0a"; }
.PECFontIcons-cloudy:before { content: "\ea0b"; }
.PECFontIcons-comment-box:before { content: "\ea0c"; }
.PECFontIcons-conferencing:before { content: "\ea0d"; }
.PECFontIcons-course-catalog:before { content: "\ea0e"; }
.PECFontIcons-course-mgmt:before { content: "\ea0f"; }
.PECFontIcons-court-martial:before { content: "\ea10"; }
.PECFontIcons-dashboard:before { content: "\ea11"; }
.PECFontIcons-dust:before { content: "\ea12"; }
.PECFontIcons-email:before { content: "\ea13"; }
.PECFontIcons-eo:before { content: "\ea14"; }
.PECFontIcons-event-registration:before { content: "\ea15"; }
.PECFontIcons-exclamation:before { content: "\ea16"; }
.PECFontIcons-express-checkin:before { content: "\ea17"; }
.PECFontIcons-faq:before { content: "\ea18"; }
.PECFontIcons-feedback:before { content: "\ea19"; }
.PECFontIcons-fire:before { content: "\ea1a"; }
.PECFontIcons-fitness-consult:before { content: "\ea1b"; }
.PECFontIcons-fog:before { content: "\ea1c"; }
.PECFontIcons-gale-warning:before { content: "\ea1d"; }
.PECFontIcons-gear:before { content: "\ea1e"; }
.PECFontIcons-hail:before { content: "\ea1f"; }
.PECFontIcons-hamburger:before { content: "\ea20"; }
.PECFontIcons-help:before { content: "\ea21"; }
.PECFontIcons-history:before { content: "\ea22"; }
.PECFontIcons-home:before { content: "\ea23"; }
.PECFontIcons-hot:before { content: "\ea24"; }
.PECFontIcons-housekeeping:before { content: "\ea25"; }
.PECFontIcons-humidity:before { content: "\ea26"; }
.PECFontIcons-hurricane-warning:before { content: "\ea27"; }
.PECFontIcons-hurricane:before { content: "\ea28"; }
.PECFontIcons-i:before { content: "\ea29"; }
.PECFontIcons-ia-training:before { content: "\ea2a"; }
.PECFontIcons-iam-mgmt:before { content: "\ea2b"; }
.PECFontIcons-leadership:before { content: "\ea2c"; }
.PECFontIcons-lessons-learned:before { content: "\ea2d"; }
.PECFontIcons-light-bulb-lit:before { content: "\ea2e"; }
.PECFontIcons-light-bulb:before { content: "\ea2f"; }
.PECFontIcons-lightning:before { content: "\ea30"; }
.PECFontIcons-link:before { content: "\ea31"; }
.PECFontIcons-little-dancing-man:before { content: "\ea32"; }
.PECFontIcons-map:before { content: "\ea33"; }
.PECFontIcons-maximize:before { content: "\ea34"; }
.PECFontIcons-meal:before { content: "\ea35"; }
.PECFontIcons-ms-teams:before { content: "\ea36"; }
.PECFontIcons-mwr:before { content: "\ea37"; }
.PECFontIcons-na:before { content: "\ea38"; }
.PECFontIcons-network-user-agreement:before { content: "\ea39"; }
.PECFontIcons-organization:before { content: "\ea3a"; }
.PECFontIcons-pin:before { content: "\ea3b"; }
.PECFontIcons-poc-workspace:before { content: "\ea3c"; }
.PECFontIcons-rain-mix:before { content: "\ea3d"; }
.PECFontIcons-rain:before { content: "\ea3e"; }
.PECFontIcons-registration-desk:before { content: "\ea3f"; }
.PECFontIcons-sandstorm:before { content: "\ea40"; }
.PECFontIcons-sarc:before { content: "\ea41"; }
.PECFontIcons-showers:before { content: "\ea42"; }
.PECFontIcons-sleet:before { content: "\ea43"; }
.PECFontIcons-small-craft-warning:before { content: "\ea44"; }
.PECFontIcons-smog:before { content: "\ea45"; }
.PECFontIcons-smoke:before { content: "\ea46"; }
.PECFontIcons-snow-wind:before { content: "\ea47"; }
.PECFontIcons-snow:before { content: "\ea48"; }
.PECFontIcons-snowflake-cold:before { content: "\ea49"; }
.PECFontIcons-solar-eclipse:before { content: "\ea4a"; }
.PECFontIcons-sprinkle:before { content: "\ea4b"; }
.PECFontIcons-storm-showers:before { content: "\ea4c"; }
.PECFontIcons-storm-showers_2:before { content: "\ea4d"; }
.PECFontIcons-storm-warning:before { content: "\ea4e"; }
.PECFontIcons-storm-warning_2:before { content: "\ea4f"; }
.PECFontIcons-strong-wind:before { content: "\ea50"; }
.PECFontIcons-strong-wind_2:before { content: "\ea51"; }
.PECFontIcons-sunrise:before { content: "\ea52"; }
.PECFontIcons-sunrise_2:before { content: "\ea53"; }
.PECFontIcons-sunset:before { content: "\ea54"; }
.PECFontIcons-sunset_2:before { content: "\ea55"; }
.PECFontIcons-support:before { content: "\ea56"; }
.PECFontIcons-survey:before { content: "\ea57"; }
.PECFontIcons-thumb-down:before { content: "\ea58"; }
.PECFontIcons-thumb-up:before { content: "\ea59"; }
.PECFontIcons-thunderstorm:before { content: "\ea5a"; }
.PECFontIcons-thunderstorm_2:before { content: "\ea5b"; }
.PECFontIcons-tornado:before { content: "\ea5c"; }
.PECFontIcons-training-mgmt:before { content: "\ea5d"; }
.PECFontIcons-trash:before { content: "\ea5e"; }
.PECFontIcons-tsunami:before { content: "\ea5f"; }
.PECFontIcons-usage-stats:before { content: "\ea60"; }
.PECFontIcons-wifi:before { content: "\ea61"; }
.PECFontIcons-wind-beufort-0:before { content: "\ea62"; }
.PECFontIcons-wind-beufort-1:before { content: "\ea63"; }
.PECFontIcons-wind-beufort-10:before { content: "\ea64"; }
.PECFontIcons-wind-beufort-11:before { content: "\ea65"; }
.PECFontIcons-wind-beufort-12:before { content: "\ea66"; }
.PECFontIcons-wind-beufort-2:before { content: "\ea67"; }
.PECFontIcons-wind-beufort-3:before { content: "\ea68"; }
.PECFontIcons-wind-beufort-4:before { content: "\ea69"; }
.PECFontIcons-wind-beufort-5:before { content: "\ea6a"; }
.PECFontIcons-wind-beufort-6:before { content: "\ea6b"; }
.PECFontIcons-wind-beufort-7:before { content: "\ea6c"; }
.PECFontIcons-wind-beufort-8:before { content: "\ea6d"; }
.PECFontIcons-wind-beufort-9:before { content: "\ea6e"; }
.PECFontIcons-wind-deg:before { content: "\ea6f"; }
.PECFontIcons-wind-rain:before { content: "\ea70"; }
.PECFontIcons-windy:before { content: "\ea71"; }
