@font-face {font-family: "pfi";
  src: url('pfi.eot?t=1699549161970'); /* IE9*/
  src: url('pfi.eot?t=1699549161970#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("pfi.woff2?t=1699549161970") format("woff2"),
  url("pfi.woff?t=1699549161970") format("woff"),
  url('pfi.ttf?t=1699549161970') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('pfi.svg?t=1699549161970#pfi') format('svg'); /* iOS 4.1- */
}

[class^="pfi"], [class^="pfi-"], [class*=" pfi-"] {
  font-family: 'pfi' !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i[class^="pfi"], i[class^="pfi-"], i[class*=" pfi-"] {
  line-height: 100%;
}

.pfi-88:before { content: "\ea04"; }
.pfi-360:before { content: "\ea01"; }
.pfi-555:before { content: "\ea03"; }
.pfi-3d-printer:before { content: "\ea02"; }
.pfi-accessibility-blind:before { content: "\ea05"; }
.pfi-accessibility-handicap-wheelchair:before { content: "\ea06"; }
.pfi-accessibility-hearing:before { content: "\ea07"; }
.pfi-accessibility-sign-language:before { content: "\ea08"; }
.pfi-accountability:before { content: "\ea09"; }
.pfi-address-book-alt-1:before { content: "\ea0a"; }
.pfi-address-book:before { content: "\ea0b"; }
.pfi-admin-alt-1:before { content: "\ea0c"; }
.pfi-admin:before { content: "\ea0d"; }
.pfi-agile-backlog:before { content: "\ea0e"; }
.pfi-agile-blocked:before { content: "\ea0f"; }
.pfi-agile-burn-down:before { content: "\ea10"; }
.pfi-agile-burn-up:before { content: "\ea11"; }
.pfi-agile-doing:before { content: "\ea12"; }
.pfi-agile-done:before { content: "\ea13"; }
.pfi-agile-ideation-group:before { content: "\ea14"; }
.pfi-agile-ideation:before { content: "\ea15"; }
.pfi-agile-innovation:before { content: "\ea16"; }
.pfi-agile-iteration:before { content: "\ea17"; }
.pfi-agile-kanban-board:before { content: "\ea18"; }
.pfi-agile-kanban:before { content: "\ea19"; }
.pfi-agile-scrum:before { content: "\ea1a"; }
.pfi-agile-testing:before { content: "\ea1b"; }
.pfi-agile-todo:before { content: "\ea1c"; }
.pfi-agriculture:before { content: "\ea1d"; }
.pfi-airplane:before { content: "\ea1e"; }
.pfi-alarm-strobe-lit:before { content: "\ea1f"; }
.pfi-alarm-strobe:before { content: "\ea20"; }
.pfi-alert-bell-active:before { content: "\ea21"; }
.pfi-alert-bell:before { content: "\ea22"; }
.pfi-alert-circle:before { content: "\ea23"; }
.pfi-alert-octagon:before { content: "\ea24"; }
.pfi-alert-triangle:before { content: "\ea25"; }
.pfi-alien:before { content: "\ea26"; }
.pfi-align-center:before { content: "\ea27"; }
.pfi-align-left:before { content: "\ea28"; }
.pfi-align-right:before { content: "\ea29"; }
.pfi-andrew-bunnie-huang:before { content: "\ea2a"; }
.pfi-animal-beaver:before { content: "\ea2b"; }
.pfi-animal-cow:before { content: "\ea2c"; }
.pfi-animal-deer:before { content: "\ea2d"; }
.pfi-animal-goat:before { content: "\ea2e"; }
.pfi-animal-rooster-alt-1:before { content: "\ea2f"; }
.pfi-animal-rooster:before { content: "\ea30"; }
.pfi-animal-squirrel:before { content: "\ea31"; }
.pfi-antenna-tower:before { content: "\ea32"; }
.pfi-anvil:before { content: "\ea33"; }
.pfi-app-generic-alt-1:before { content: "\ea34"; }
.pfi-app-generic-alt-2:before { content: "\ea35"; }
.pfi-app-generic-alt-3:before { content: "\ea36"; }
.pfi-app-generic:before { content: "\ea37"; }
.pfi-app-mgmt-alt-1:before { content: "\ea38"; }
.pfi-app-mgmt:before { content: "\ea39"; }
.pfi-app-store-alt-1:before { content: "\ea3a"; }
.pfi-app-store-alt-2:before { content: "\ea3b"; }
.pfi-app-store-alt-3:before { content: "\ea3c"; }
.pfi-app-store-f-droid:before { content: "\ea3d"; }
.pfi-app-store-google-play:before { content: "\ea3e"; }
.pfi-app-store-ios:before { content: "\ea3f"; }
.pfi-app-store:before { content: "\ea40"; }
.pfi-apron:before { content: "\ea41"; }
.pfi-archaeology:before { content: "\ea42"; }
.pfi-army-ag:before { content: "\ea43"; }
.pfi-army-air-defense-artillery:before { content: "\ea44"; }
.pfi-army-atrrs:before { content: "\ea45"; }
.pfi-army-aviation:before { content: "\ea46"; }
.pfi-army-chaplain:before { content: "\ea47"; }
.pfi-army-court-martial:before { content: "\ea48"; }
.pfi-army-dtms:before { content: "\ea49"; }
.pfi-army-eo:before { content: "\ea4a"; }
.pfi-army-logo:before { content: "\ea4b"; }
.pfi-army-medical:before { content: "\ea4c"; }
.pfi-army-mi:before { content: "\ea4d"; }
.pfi-army-ngb-buddy-aid:before { content: "\ea4e"; }
.pfi-army-ngb-howie:before { content: "\ea4f"; }
.pfi-army-ngb:before { content: "\ea50"; }
.pfi-army-ordnance:before { content: "\ea51"; }
.pfi-army-public-affairs:before { content: "\ea52"; }
.pfi-army-rank-1sg:before { content: "\ea53"; }
.pfi-army-rank-bg:before { content: "\ea54"; }
.pfi-army-rank-col:before { content: "\ea55"; }
.pfi-army-rank-cpl:before { content: "\ea56"; }
.pfi-army-rank-cpt:before { content: "\ea57"; }
.pfi-army-rank-csm:before { content: "\ea58"; }
.pfi-army-rank-cw2:before { content: "\ea59"; }
.pfi-army-rank-cw3:before { content: "\ea5a"; }
.pfi-army-rank-cw4:before { content: "\ea5b"; }
.pfi-army-rank-cw5:before { content: "\ea5c"; }
.pfi-army-rank-gen:before { content: "\ea5d"; }
.pfi-army-rank-lt:before { content: "\ea5e"; }
.pfi-army-rank-ltc-maj:before { content: "\ea5f"; }
.pfi-army-rank-ltg:before { content: "\ea60"; }
.pfi-army-rank-mg:before { content: "\ea61"; }
.pfi-army-rank-msg:before { content: "\ea62"; }
.pfi-army-rank-pfc:before { content: "\ea63"; }
.pfi-army-rank-pvt:before { content: "\ea64"; }
.pfi-army-rank-sfc:before { content: "\ea65"; }
.pfi-army-rank-sgm:before { content: "\ea66"; }
.pfi-army-rank-sgt:before { content: "\ea67"; }
.pfi-army-rank-spc:before { content: "\ea68"; }
.pfi-army-rank-ssg:before { content: "\ea69"; }
.pfi-army-rank-w01:before { content: "\ea6a"; }
.pfi-army-sarc:before { content: "\ea6b"; }
.pfi-army-signal:before { content: "\ea6c"; }
.pfi-army-tradoc:before { content: "\ea6d"; }
.pfi-army:before { content: "\ea6e"; }
.pfi-arrow-down-chunky-alt:before { content: "\ea6f"; }
.pfi-arrow-down-chunky:before { content: "\ea70"; }
.pfi-arrow-down:before { content: "\ea71"; }
.pfi-arrow-left-chunky-alt:before { content: "\ea72"; }
.pfi-arrow-left-chunky:before { content: "\ea73"; }
.pfi-arrow-left:before { content: "\ea74"; }
.pfi-arrow-right-chunky-alt:before { content: "\ea75"; }
.pfi-arrow-right-chunky:before { content: "\ea76"; }
.pfi-arrow-right:before { content: "\ea77"; }
.pfi-arrow-up-chunky-alt:before { content: "\ea78"; }
.pfi-arrow-up-chunky:before { content: "\ea79"; }
.pfi-arrow-up:before { content: "\ea7a"; }
.pfi-article-alt-1:before { content: "\ea7b"; }
.pfi-article:before { content: "\ea7c"; }
.pfi-asterisk:before { content: "\ea7d"; }
.pfi-astro-moon:before { content: "\ea7e"; }
.pfi-astro-planet-earth:before { content: "\ea7f"; }
.pfi-astro-planet-jupiter:before { content: "\ea80"; }
.pfi-astro-planet-mars:before { content: "\ea81"; }
.pfi-astro-planet-mercury:before { content: "\ea82"; }
.pfi-astro-planet-neptune:before { content: "\ea83"; }
.pfi-astro-planet-saturn:before { content: "\ea84"; }
.pfi-astro-planet-uranus:before { content: "\ea85"; }
.pfi-astro-planet-venus:before { content: "\ea86"; }
.pfi-astro-pluto:before { content: "\ea87"; }
.pfi-audio-book:before { content: "\ea88"; }
.pfi-audio:before { content: "\ea89"; }
.pfi-auto-bus:before { content: "\ea8a"; }
.pfi-auto-camper-alt-1:before { content: "\ea8b"; }
.pfi-auto-camper:before { content: "\ea8c"; }
.pfi-auto-car:before { content: "\ea8d"; }
.pfi-auto-semi-truck:before { content: "\ea8e"; }
.pfi-auto-tire-alt-1:before { content: "\ea8f"; }
.pfi-auto-tire:before { content: "\ea90"; }
.pfi-auto-tow-truck:before { content: "\ea91"; }
.pfi-auto-tractor:before { content: "\ea92"; }
.pfi-auto-trailer:before { content: "\ea93"; }
.pfi-auto-truck-pickup:before { content: "\ea94"; }
.pfi-backpack:before { content: "\ea95"; }
.pfi-badge:before { content: "\ea96"; }
.pfi-balloon:before { content: "\ea97"; }
.pfi-bandaid:before { content: "\ea98"; }
.pfi-barcode:before { content: "\ea99"; }
.pfi-barn:before { content: "\ea9a"; }
.pfi-barrel:before { content: "\ea9b"; }
.pfi-battery-0:before { content: "\ea9c"; }
.pfi-battery-100:before { content: "\ea9d"; }
.pfi-battery-25:before { content: "\ea9e"; }
.pfi-battery-50:before { content: "\ea9f"; }
.pfi-battery-75:before { content: "\eaa0"; }
.pfi-battery-bolt:before { content: "\eaa1"; }
.pfi-beard-alt-1:before { content: "\eaa2"; }
.pfi-beard:before { content: "\eaa3"; }
.pfi-bed:before { content: "\eaa4"; }
.pfi-beverage-coffee-bean:before { content: "\eaa5"; }
.pfi-beverage-coffee-cup-hot:before { content: "\eaa6"; }
.pfi-beverage-coffee-cup:before { content: "\eaa7"; }
.pfi-beverage-coffee-pot:before { content: "\eaa8"; }
.pfi-beverage-tea-bag:before { content: "\eaa9"; }
.pfi-beverage-tea-cup-hot:before { content: "\eaaa"; }
.pfi-beverage-tea-cup:before { content: "\eaab"; }
.pfi-billeting-mgmt:before { content: "\eaac"; }
.pfi-binary:before { content: "\eaad"; }
.pfi-blog:before { content: "\eaae"; }
.pfi-bluetooth:before { content: "\eaaf"; }
.pfi-bold:before { content: "\eab0"; }
.pfi-book-alt-1:before { content: "\eab1"; }
.pfi-book-alt-2:before { content: "\eab2"; }
.pfi-book-chapter:before { content: "\eab3"; }
.pfi-book-index:before { content: "\eab4"; }
.pfi-book-open-facing-away:before { content: "\eab5"; }
.pfi-book-open-facing-up:before { content: "\eab6"; }
.pfi-book-page:before { content: "\eab7"; }
.pfi-book-table-of-contents:before { content: "\eab8"; }
.pfi-book:before { content: "\eab9"; }
.pfi-bookmark-empty:before { content: "\eaba"; }
.pfi-bookmark-filled:before { content: "\eabb"; }
.pfi-bookshelf-alt-1:before { content: "\eabc"; }
.pfi-bookshelf:before { content: "\eabd"; }
.pfi-bootstrap-design-framework:before { content: "\eabe"; }
.pfi-bow-tie:before { content: "\eabf"; }
.pfi-bow:before { content: "\eac0"; }
.pfi-box-closed:before { content: "\eac1"; }
.pfi-box-pack:before { content: "\eac2"; }
.pfi-box-ship:before { content: "\eac3"; }
.pfi-box-unpack:before { content: "\eac4"; }
.pfi-box:before { content: "\eac5"; }
.pfi-boxes:before { content: "\eac6"; }
.pfi-brain:before { content: "\eac7"; }
.pfi-breakout:before { content: "\eac8"; }
.pfi-bug-ant:before { content: "\eac9"; }
.pfi-bug-bee:before { content: "\eaca"; }
.pfi-bug-moth:before { content: "\eacb"; }
.pfi-bug-wasp-hornet:before { content: "\eacc"; }
.pfi-bug:before { content: "\eacd"; }
.pfi-building-multi-story-alt-1:before { content: "\eace"; }
.pfi-building-multi-story-wings:before { content: "\eacf"; }
.pfi-building-multi-story:before { content: "\ead0"; }
.pfi-bullet-journal-appointment-canceled:before { content: "\ead1"; }
.pfi-bullet-journal-appointment-complete:before { content: "\ead2"; }
.pfi-bullet-journal-appointment-migrated:before { content: "\ead3"; }
.pfi-bullet-journal-appointment:before { content: "\ead4"; }
.pfi-bullet-journal-event-canceled-2:before { content: "\ead5"; }
.pfi-bullet-journal-event-canceled:before { content: "\ead6"; }
.pfi-bullet-journal-event-complete:before { content: "\ead7"; }
.pfi-bullet-journal-event-migrated:before { content: "\ead8"; }
.pfi-bullet-journal-event-started:before { content: "\ead9"; }
.pfi-bullet-journal-event:before { content: "\eada"; }
.pfi-bullet-journal-important-1:before { content: "\eadb"; }
.pfi-bullet-journal-important-2:before { content: "\eadc"; }
.pfi-bullet-journal-important-done:before { content: "\eadd"; }
.pfi-bullet-journal-important:before { content: "\eade"; }
.pfi-bullet-journal-migrate:before { content: "\eadf"; }
.pfi-bullet-journal-note:before { content: "\eae0"; }
.pfi-bullet-journal-question:before { content: "\eae1"; }
.pfi-bullet-journal-schedule-clock:before { content: "\eae2"; }
.pfi-bullet-journal-schedule:before { content: "\eae3"; }
.pfi-bullet-journal-task-canceled:before { content: "\eae4"; }
.pfi-bullet-journal-task-complete:before { content: "\eae5"; }
.pfi-bullet-journal-task-migrated:before { content: "\eae6"; }
.pfi-bullet-journal-task-started:before { content: "\eae7"; }
.pfi-bullet-journal-task:before { content: "\eae8"; }
.pfi-bullet-list:before { content: "\eae9"; }
.pfi-bullhorn:before { content: "\eaea"; }
.pfi-calculator:before { content: "\eaeb"; }
.pfi-calendar-schedule:before { content: "\eaec"; }
.pfi-camera-aperture:before { content: "\eaed"; }
.pfi-camera-video:before { content: "\eaee"; }
.pfi-camera:before { content: "\eaef"; }
.pfi-campus:before { content: "\eaf0"; }
.pfi-cancel:before { content: "\eaf1"; }
.pfi-candle:before { content: "\eaf2"; }
.pfi-cards:before { content: "\eaf3"; }
.pfi-cart:before { content: "\eaf4"; }
.pfi-cctv:before { content: "\eaf5"; }
.pfi-certificate:before { content: "\eaf6"; }
.pfi-changelog:before { content: "\eaf7"; }
.pfi-chart-bar-horizontal:before { content: "\eaf8"; }
.pfi-chart-bar:before { content: "\eaf9"; }
.pfi-chart-line:before { content: "\eafa"; }
.pfi-chart-pie:before { content: "\eafb"; }
.pfi-chart-venn-tri:before { content: "\eafc"; }
.pfi-chart-venn:before { content: "\eafd"; }
.pfi-check-circle:before { content: "\eafe"; }
.pfi-check-list:before { content: "\eaff"; }
.pfi-check:before { content: "\eb00"; }
.pfi-clipboard:before { content: "\eb01"; }
.pfi-clock:before { content: "\eb02"; }
.pfi-clone:before { content: "\eb03"; }
.pfi-cms-content-management:before { content: "\eb04"; }
.pfi-code-morse-alt:before { content: "\eb05"; }
.pfi-code-morse:before { content: "\eb06"; }
.pfi-coding:before { content: "\eb07"; }
.pfi-comic-superman:before { content: "\eb08"; }
.pfi-comment-box:before { content: "\eb09"; }
.pfi-comment-left:before { content: "\eb0a"; }
.pfi-comment-right:before { content: "\eb0b"; }
.pfi-comments-left:before { content: "\eb0c"; }
.pfi-comments-right:before { content: "\eb0d"; }
.pfi-company-amazon:before { content: "\eb0e"; }
.pfi-company-amd-alt:before { content: "\eb0f"; }
.pfi-company-amd:before { content: "\eb10"; }
.pfi-company-american-express:before { content: "\eb11"; }
.pfi-company-apple:before { content: "\eb12"; }
.pfi-company-atari:before { content: "\eb13"; }
.pfi-company-audible:before { content: "\eb14"; }
.pfi-company-bit-bucket:before { content: "\eb15"; }
.pfi-company-blogger:before { content: "\eb16"; }
.pfi-company-bobcat:before { content: "\eb17"; }
.pfi-company-cat:before { content: "\eb18"; }
.pfi-company-chevrolet:before { content: "\eb19"; }
.pfi-company-commodore:before { content: "\eb1a"; }
.pfi-company-dhl:before { content: "\eb1b"; }
.pfi-company-digikey:before { content: "\eb1c"; }
.pfi-company-digitalocean:before { content: "\eb1d"; }
.pfi-company-docker:before { content: "\eb1e"; }
.pfi-company-duckduckgo:before { content: "\eb1f"; }
.pfi-company-elastic:before { content: "\eb20"; }
.pfi-company-fedex:before { content: "\eb21"; }
.pfi-company-feedly:before { content: "\eb22"; }
.pfi-company-fender:before { content: "\eb23"; }
.pfi-company-ford:before { content: "\eb24"; }
.pfi-company-github:before { content: "\eb25"; }
.pfi-company-gitLab:before { content: "\eb26"; }
.pfi-company-google:before { content: "\eb27"; }
.pfi-company-harley-davidson:before { content: "\eb28"; }
.pfi-company-ibanez:before { content: "\eb29"; }
.pfi-company-ibm:before { content: "\eb2a"; }
.pfi-company-intel-logo:before { content: "\eb2b"; }
.pfi-company-john-deere:before { content: "\eb2c"; }
.pfi-company-kubernetes:before { content: "\eb2d"; }
.pfi-company-mahindra:before { content: "\eb2e"; }
.pfi-company-massey-ferguson:before { content: "\eb2f"; }
.pfi-company-mastercard:before { content: "\eb30"; }
.pfi-company-microsoft:before { content: "\eb31"; }
.pfi-company-molex:before { content: "\eb32"; }
.pfi-company-openai:before { content: "\eb33"; }
.pfi-company-paypal:before { content: "\eb34"; }
.pfi-company-pocketbase:before { content: "\eb35"; }
.pfi-company-rolex:before { content: "\eb36"; }
.pfi-company-spacex:before { content: "\eb37"; }
.pfi-company-square:before { content: "\eb38"; }
.pfi-company-steam:before { content: "\eb39"; }
.pfi-company-stripe:before { content: "\eb3a"; }
.pfi-company-tesla-motors:before { content: "\eb3b"; }
.pfi-company-ups:before { content: "\eb3c"; }
.pfi-company-venmo:before { content: "\eb3d"; }
.pfi-company-visa:before { content: "\eb3e"; }
.pfi-company-vmware:before { content: "\eb3f"; }
.pfi-company-zelle:before { content: "\eb40"; }
.pfi-company-zoom:before { content: "\eb41"; }
.pfi-conferencing:before { content: "\eb42"; }
.pfi-contract:before { content: "\eb43"; }
.pfi-course-catalog:before { content: "\eb44"; }
.pfi-course-mgmt:before { content: "\eb45"; }
.pfi-covid:before { content: "\eb46"; }
.pfi-crop:before { content: "\eb47"; }
.pfi-cross:before { content: "\eb48"; }
.pfi-crosshairs:before { content: "\eb49"; }
.pfi-cube-download:before { content: "\eb4a"; }
.pfi-cube-login:before { content: "\eb4b"; }
.pfi-cube-logout:before { content: "\eb4c"; }
.pfi-cube-open:before { content: "\eb4d"; }
.pfi-cube-share:before { content: "\eb4e"; }
.pfi-cube-upload:before { content: "\eb4f"; }
.pfi-cube:before { content: "\eb50"; }
.pfi-cyber:before { content: "\eb51"; }
.pfi-cycle:before { content: "\eb52"; }
.pfi-dashboard-alt-1:before { content: "\eb53"; }
.pfi-dashboard:before { content: "\eb54"; }
.pfi-database-alt:before { content: "\eb55"; }
.pfi-database:before { content: "\eb56"; }
.pfi-desk-lamp:before { content: "\eb57"; }
.pfi-desk-research-alt-1:before { content: "\eb58"; }
.pfi-desk-research:before { content: "\eb59"; }
.pfi-desk-top:before { content: "\eb5a"; }
.pfi-desk:before { content: "\eb5b"; }
.pfi-dictionary-thesaurus:before { content: "\eb5c"; }
.pfi-disk:before { content: "\eb5d"; }
.pfi-dna-genetics:before { content: "\eb5e"; }
.pfi-document:before { content: "\eb5f"; }
.pfi-documents:before { content: "\eb60"; }
.pfi-drafting-compass:before { content: "\eb61"; }
.pfi-drinks:before { content: "\eb62"; }
.pfi-drive:before { content: "\eb63"; }
.pfi-drop:before { content: "\eb64"; }
.pfi-electricity-bolt:before { content: "\eb65"; }
.pfi-electronics-meter:before { content: "\eb66"; }
.pfi-email-alt-1:before { content: "\eb67"; }
.pfi-email-alt-3:before { content: "\eb68"; }
.pfi-email-alt-4:before { content: "\eb69"; }
.pfi-email:before { content: "\eb6a"; }
.pfi-emoji-angry:before { content: "\eb6b"; }
.pfi-emoji-cool:before { content: "\eb6c"; }
.pfi-emoji-eye-roll:before { content: "\eb6d"; }
.pfi-emoji-frown:before { content: "\eb6e"; }
.pfi-emoji-grin:before { content: "\eb6f"; }
.pfi-emoji-laugh:before { content: "\eb70"; }
.pfi-emoji-meh:before { content: "\eb71"; }
.pfi-emoji-smile:before { content: "\eb72"; }
.pfi-emoji-surprise:before { content: "\eb73"; }
.pfi-eraser:before { content: "\eb74"; }
.pfi-event-registration:before { content: "\eb75"; }
.pfi-event-template:before { content: "\eb76"; }
.pfi-event:before { content: "\eb77"; }
.pfi-events:before { content: "\eb78"; }
.pfi-exclamation:before { content: "\eb79"; }
.pfi-expand:before { content: "\eb7a"; }
.pfi-express-checkin:before { content: "\eb7b"; }
.pfi-extension-alt-1:before { content: "\eb7c"; }
.pfi-extension-alt-2:before { content: "\eb7d"; }
.pfi-extension:before { content: "\eb7e"; }
.pfi-eye-dropper:before { content: "\eb7f"; }
.pfi-eye:before { content: "\eb80"; }
.pfi-faq:before { content: "\eb81"; }
.pfi-feedback:before { content: "\eb82"; }
.pfi-file-cad-drafting:before { content: "\eb83"; }
.pfi-file-code:before { content: "\eb84"; }
.pfi-file-draft:before { content: "\eb85"; }
.pfi-file-raw-dna-data:before { content: "\eb86"; }
.pfi-file:before { content: "\eb87"; }
.pfi-film-clapper-board:before { content: "\eb88"; }
.pfi-film:before { content: "\eb89"; }
.pfi-filter-multiple:before { content: "\eb8a"; }
.pfi-filter-single:before { content: "\eb8b"; }
.pfi-filter:before { content: "\eb8c"; }
.pfi-fingerprint:before { content: "\eb8d"; }
.pfi-fire-extinguisher:before { content: "\eb8e"; }
.pfi-fire-hydrant:before { content: "\eb8f"; }
.pfi-fitness-calendar:before { content: "\eb90"; }
.pfi-fitness-consult:before { content: "\eb91"; }
.pfi-flag:before { content: "\eb92"; }
.pfi-flame:before { content: "\eb93"; }
.pfi-flask-meyers:before { content: "\eb94"; }
.pfi-flask:before { content: "\eb95"; }
.pfi-flux-alt-1:before { content: "\eb96"; }
.pfi-flux:before { content: "\eb97"; }
.pfi-folder-closed:before { content: "\eb98"; }
.pfi-folder-open:before { content: "\eb99"; }
.pfi-folders:before { content: "\eb9a"; }
.pfi-food-egg:before { content: "\eb9b"; }
.pfi-food-pizza:before { content: "\eb9c"; }
.pfi-footnote-arabic:before { content: "\eb9d"; }
.pfi-form:before { content: "\eb9e"; }
.pfi-forum-mgmt:before { content: "\eb9f"; }
.pfi-forums:before { content: "\eba0"; }
.pfi-fuel:before { content: "\eba1"; }
.pfi-garage:before { content: "\eba2"; }
.pfi-gear:before { content: "\eba3"; }
.pfi-gears-alt-1:before { content: "\eba4"; }
.pfi-gears:before { content: "\eba5"; }
.pfi-gift:before { content: "\eba6"; }
.pfi-glasses-alt-1:before { content: "\eba7"; }
.pfi-glasses:before { content: "\eba8"; }
.pfi-gnome:before { content: "\eba9"; }
.pfi-graduation-cap:before { content: "\ebaa"; }
.pfi-grammer:before { content: "\ebab"; }
.pfi-graph-alt-1:before { content: "\ebac"; }
.pfi-graph-alt-2:before { content: "\ebad"; }
.pfi-graph-alt-3:before { content: "\ebae"; }
.pfi-graph:before { content: "\ebaf"; }
.pfi-greenhouse:before { content: "\ebb0"; }
.pfi-grid-alt-1:before { content: "\ebb1"; }
.pfi-grid-table:before { content: "\ebb2"; }
.pfi-grid:before { content: "\ebb3"; }
.pfi-groceries:before { content: "\ebb4"; }
.pfi-group-alt-1:before { content: "\ebb5"; }
.pfi-group:before { content: "\ebb6"; }
.pfi-guitar-pick:before { content: "\ebb7"; }
.pfi-gym:before { content: "\ebb8"; }
.pfi-hamburger-vertical:before { content: "\ebb9"; }
.pfi-hamburger:before { content: "\ebba"; }
.pfi-hazard-caustic:before { content: "\ebbb"; }
.pfi-hazard-environmental:before { content: "\ebbc"; }
.pfi-hazard-explosive:before { content: "\ebbd"; }
.pfi-hazard-flammable:before { content: "\ebbe"; }
.pfi-hazard-oxidizing:before { content: "\ebbf"; }
.pfi-hazard-toxic:before { content: "\ebc0"; }
.pfi-hazard:before { content: "\ebc1"; }
.pfi-headphones:before { content: "\ebc2"; }
.pfi-heart-beat:before { content: "\ebc3"; }
.pfi-heart:before { content: "\ebc4"; }
.pfi-helmet:before { content: "\ebc5"; }
.pfi-help:before { content: "\ebc6"; }
.pfi-hex-hive-alt-1:before { content: "\ebc7"; }
.pfi-hex-hive-alt-2:before { content: "\ebc8"; }
.pfi-hex-hive-alt-3:before { content: "\ebc9"; }
.pfi-hex-hive-alt-4:before { content: "\ebca"; }
.pfi-hex-hive-alt-5:before { content: "\ebcb"; }
.pfi-hex-hive:before { content: "\ebcc"; }
.pfi-highlight:before { content: "\ebcd"; }
.pfi-history-alt-1:before { content: "\ebce"; }
.pfi-history:before { content: "\ebcf"; }
.pfi-hole:before { content: "\ebd0"; }
.pfi-home:before { content: "\ebd1"; }
.pfi-hourglass:before { content: "\ebd2"; }
.pfi-i:before { content: "\ebd3"; }
.pfi-iam-mgmt:before { content: "\ebd4"; }
.pfi-icons:before { content: "\ebd5"; }
.pfi-id-card:before { content: "\ebd6"; }
.pfi-idea:before { content: "\ebd7"; }
.pfi-image:before { content: "\ebd8"; }
.pfi-inbox:before { content: "\ebd9"; }
.pfi-infinity:before { content: "\ebda"; }
.pfi-info-circle:before { content: "\ebdb"; }
.pfi-info:before { content: "\ebdc"; }
.pfi-instance:before { content: "\ebdd"; }
.pfi-instructor-teacher:before { content: "\ebde"; }
.pfi-internet:before { content: "\ebdf"; }
.pfi-iot:before { content: "\ebe0"; }
.pfi-italic:before { content: "\ebe1"; }
.pfi-jar:before { content: "\ebe2"; }
.pfi-jolly-wrench:before { content: "\ebe3"; }
.pfi-journal:before { content: "\ebe4"; }
.pfi-key-alt-1:before { content: "\ebe5"; }
.pfi-key:before { content: "\ebe6"; }
.pfi-keyboard-alt-1:before { content: "\ebe7"; }
.pfi-keyboard:before { content: "\ebe8"; }
.pfi-knowledge-management:before { content: "\ebe9"; }
.pfi-laptop-alt-1:before { content: "\ebea"; }
.pfi-laptop:before { content: "\ebeb"; }
.pfi-laser-blast:before { content: "\ebec"; }
.pfi-laser-warning-alt-1:before { content: "\ebed"; }
.pfi-laser-warning:before { content: "\ebee"; }
.pfi-leadership-alt-1:before { content: "\ebef"; }
.pfi-leadership:before { content: "\ebf0"; }
.pfi-leaf:before { content: "\ebf1"; }
.pfi-lessons-learned:before { content: "\ebf2"; }
.pfi-letter-alt-1:before { content: "\ebf3"; }
.pfi-letter-alt-2:before { content: "\ebf4"; }
.pfi-letter:before { content: "\ebf5"; }
.pfi-library:before { content: "\ebf6"; }
.pfi-light-bulb-lit:before { content: "\ebf7"; }
.pfi-light-bulb:before { content: "\ebf8"; }
.pfi-link-broken:before { content: "\ebf9"; }
.pfi-link:before { content: "\ebfa"; }
.pfi-list-add:before { content: "\ebfb"; }
.pfi-list-bullet:before { content: "\ebfc"; }
.pfi-list-numbered:before { content: "\ebfd"; }
.pfi-little-dancing-man:before { content: "\ebfe"; }
.pfi-loading-0:before { content: "\ebff"; }
.pfi-loading-10:before { content: "\ec00"; }
.pfi-loading-100:before { content: "\ec01"; }
.pfi-loading-20:before { content: "\ec02"; }
.pfi-loading-30:before { content: "\ec03"; }
.pfi-loading-40:before { content: "\ec04"; }
.pfi-loading-50:before { content: "\ec05"; }
.pfi-loading-60:before { content: "\ec06"; }
.pfi-loading-70:before { content: "\ec07"; }
.pfi-loading-80:before { content: "\ec08"; }
.pfi-loading-90:before { content: "\ec09"; }
.pfi-location:before { content: "\ec0a"; }
.pfi-lock-closed:before { content: "\ec0b"; }
.pfi-lock-open:before { content: "\ec0c"; }
.pfi-luchador:before { content: "\ec0d"; }
.pfi-magnet:before { content: "\ec0e"; }
.pfi-magnify-zoom-in:before { content: "\ec0f"; }
.pfi-magnify-zoom-out:before { content: "\ec10"; }
.pfi-magnify:before { content: "\ec11"; }
.pfi-make:before { content: "\ec12"; }
.pfi-management-2:before { content: "\ec13"; }
.pfi-management-3:before { content: "\ec14"; }
.pfi-management-4:before { content: "\ec15"; }
.pfi-management:before { content: "\ec16"; }
.pfi-map-campus:before { content: "\ec17"; }
.pfi-map-trifold:before { content: "\ec18"; }
.pfi-map:before { content: "\ec19"; }
.pfi-math-divide:before { content: "\ec1a"; }
.pfi-math-equal:before { content: "\ec1b"; }
.pfi-math-greater-than:before { content: "\ec1c"; }
.pfi-math-less-than:before { content: "\ec1d"; }
.pfi-math-minus:before { content: "\ec1e"; }
.pfi-math-multiply:before { content: "\ec1f"; }
.pfi-math-percent:before { content: "\ec20"; }
.pfi-math-plus:before { content: "\ec21"; }
.pfi-math-square-root:before { content: "\ec22"; }
.pfi-matlab:before { content: "\ec23"; }
.pfi-meal:before { content: "\ec24"; }
.pfi-media-backward:before { content: "\ec25"; }
.pfi-media-forward:before { content: "\ec26"; }
.pfi-media-pause:before { content: "\ec27"; }
.pfi-media-play:before { content: "\ec28"; }
.pfi-media-skip-backward:before { content: "\ec29"; }
.pfi-media-skip-forward:before { content: "\ec2a"; }
.pfi-mem-מ:before { content: "\ec2b"; }
.pfi-menu-dots-horizontal:before { content: "\ec2c"; }
.pfi-menu-dots-vertical:before { content: "\ec2d"; }
.pfi-meter-tach-alt-1:before { content: "\ec2e"; }
.pfi-meter-tach:before { content: "\ec2f"; }
.pfi-mgmt:before { content: "\ec30"; }
.pfi-microphone-mute:before { content: "\ec31"; }
.pfi-microphone:before { content: "\ec32"; }
.pfi-military-air-force:before { content: "\ec33"; }
.pfi-military-mwr:before { content: "\ec34"; }
.pfi-military-navy:before { content: "\ec35"; }
.pfi-monitor-screen:before { content: "\ec36"; }
.pfi-mouse:before { content: "\ec37"; }
.pfi-move:before { content: "\ec38"; }
.pfi-mushroom-alt-1:before { content: "\ec39"; }
.pfi-mushroom:before { content: "\ec3a"; }
.pfi-musical-note-bass-clef:before { content: "\ec3b"; }
.pfi-musical-note-beamed-eighth:before { content: "\ec3c"; }
.pfi-musical-note-eighth:before { content: "\ec3d"; }
.pfi-musical-note-flat:before { content: "\ec3e"; }
.pfi-musical-note-half:before { content: "\ec3f"; }
.pfi-musical-note-quarter:before { content: "\ec40"; }
.pfi-musical-note-sharp:before { content: "\ec41"; }
.pfi-musical-note-treble-clef:before { content: "\ec42"; }
.pfi-musical-note-whole:before { content: "\ec43"; }
.pfi-mustache:before { content: "\ec44"; }
.pfi-na:before { content: "\ec45"; }
.pfi-name-badge:before { content: "\ec46"; }
.pfi-net-cable-modem:before { content: "\ec47"; }
.pfi-net-cluster:before { content: "\ec48"; }
.pfi-net-firewall:before { content: "\ec49"; }
.pfi-net-load-balancer-pool:before { content: "\ec4a"; }
.pfi-net-router:before { content: "\ec4b"; }
.pfi-net-switch:before { content: "\ec4c"; }
.pfi-net-wireless-access-point:before { content: "\ec4d"; }
.pfi-network-user-agreement:before { content: "\ec4e"; }
.pfi-note-pad:before { content: "\ec4f"; }
.pfi-notes:before { content: "\ec50"; }
.pfi-operations:before { content: "\ec51"; }
.pfi-org-apache-server-feather:before { content: "\ec52"; }
.pfi-org-arduino-alt-1:before { content: "\ec53"; }
.pfi-org-arduino:before { content: "\ec54"; }
.pfi-org-humble-bundle-alt-1:before { content: "\ec55"; }
.pfi-org-humble-bundle:before { content: "\ec56"; }
.pfi-org-instructables:before { content: "\ec57"; }
.pfi-org-mit:before { content: "\ec58"; }
.pfi-org-nasa:before { content: "\ec59"; }
.pfi-org-noaa:before { content: "\ec5a"; }
.pfi-org-nodejs:before { content: "\ec5b"; }
.pfi-org-npr:before { content: "\ec5c"; }
.pfi-org-open-source-hardware-oshwa:before { content: "\ec5d"; }
.pfi-org-open-source:before { content: "\ec5e"; }
.pfi-org-usps:before { content: "\ec5f"; }
.pfi-org-wiki:before { content: "\ec60"; }
.pfi-org-wikimedia:before { content: "\ec61"; }
.pfi-org-y-combinator:before { content: "\ec62"; }
.pfi-organization-hierarchy-alt-1:before { content: "\ec63"; }
.pfi-organization-hierarchy-alt-2:before { content: "\ec64"; }
.pfi-organization-hierarchy:before { content: "\ec65"; }
.pfi-os-arch:before { content: "\ec66"; }
.pfi-os-debian:before { content: "\ec67"; }
.pfi-os-fedora:before { content: "\ec68"; }
.pfi-os-linux-dark:before { content: "\ec69"; }
.pfi-os-linux:before { content: "\ec6a"; }
.pfi-os-red-hat:before { content: "\ec6b"; }
.pfi-os-ubuntu:before { content: "\ec6c"; }
.pfi-os-wayland:before { content: "\ec6d"; }
.pfi-os-windows:before { content: "\ec6e"; }
.pfi-paleography:before { content: "\ec6f"; }
.pfi-paper-roll:before { content: "\ec70"; }
.pfi-paperclip:before { content: "\ec71"; }
.pfi-parental-advisory:before { content: "\ec72"; }
.pfi-parking-lot:before { content: "\ec73"; }
.pfi-pec-bn-ciab-ittc:before { content: "\ec74"; }
.pfi-pec-bn-rmtb-rmtc:before { content: "\ec75"; }
.pfi-pec-bn-sieb-iletc:before { content: "\ec76"; }
.pfi-pec-bn-sldi-ortc:before { content: "\ec77"; }
.pfi-pec-concord-menu:before { content: "\ec78"; }
.pfi-pec-fsdb:before { content: "\ec79"; }
.pfi-pec-human-performance-logo:before { content: "\ec7a"; }
.pfi-pec-human-performance:before { content: "\ec7b"; }
.pfi-pec-logo:before { content: "\ec7c"; }
.pfi-pec-portal:before { content: "\ec7d"; }
.pfi-pec-qa:before { content: "\ec7e"; }
.pfi-pec-qr-code:before { content: "\ec7f"; }
.pfi-pencil:before { content: "\ec80"; }
.pfi-people-ada-lovelace:before { content: "\ec81"; }
.pfi-people-einstein:before { content: "\ec82"; }
.pfi-people-feynman:before { content: "\ec83"; }
.pfi-people-nikola-tesla:before { content: "\ec84"; }
.pfi-phone-cell-android:before { content: "\ec85"; }
.pfi-phone-cell-iphone:before { content: "\ec86"; }
.pfi-phone-roster:before { content: "\ec87"; }
.pfi-phone:before { content: "\ec88"; }
.pfi-physics-alt:before { content: "\ec89"; }
.pfi-physics:before { content: "\ec8a"; }
.pfi-pill-solid:before { content: "\ec8b"; }
.pfi-pill-tab-left:before { content: "\ec8c"; }
.pfi-pill-tab-right:before { content: "\ec8d"; }
.pfi-pin:before { content: "\ec8e"; }
.pfi-plant-flower:before { content: "\ec8f"; }
.pfi-plant-sunflower:before { content: "\ec90"; }
.pfi-plant:before { content: "\ec91"; }
.pfi-platform-android:before { content: "\ec92"; }
.pfi-platform-discord:before { content: "\ec93"; }
.pfi-platform-moodle:before { content: "\ec94"; }
.pfi-platform-mqtt:before { content: "\ec95"; }
.pfi-platform-node-red:before { content: "\ec96"; }
.pfi-platform-rabbit-mq:before { content: "\ec97"; }
.pfi-platform-windoz:before { content: "\ec98"; }
.pfi-platform-wordpress:before { content: "\ec99"; }
.pfi-plug:before { content: "\ec9a"; }
.pfi-poc-workspace:before { content: "\ec9b"; }
.pfi-podcast:before { content: "\ec9c"; }
.pfi-podium-alt:before { content: "\ec9d"; }
.pfi-podium-manned-book:before { content: "\ec9e"; }
.pfi-podium-manned:before { content: "\ec9f"; }
.pfi-podium:before { content: "\eca0"; }
.pfi-pointer-hand-grab:before { content: "\eca1"; }
.pfi-pointer-hand:before { content: "\eca2"; }
.pfi-pointer-mouse:before { content: "\eca3"; }
.pfi-power:before { content: "\eca4"; }
.pfi-printer:before { content: "\eca5"; }
.pfi-process-bpmn-end:before { content: "\eca6"; }
.pfi-process-bpmn-event-alt:before { content: "\eca7"; }
.pfi-process-bpmn-event:before { content: "\eca8"; }
.pfi-process-bpmn-start:before { content: "\eca9"; }
.pfi-process-bpmn-task:before { content: "\ecaa"; }
.pfi-process-bpmn-transaction:before { content: "\ecab"; }
.pfi-process-data-flow-data-store-alt-1:before { content: "\ecac"; }
.pfi-process-data-flow-data-store-alt-2:before { content: "\ecad"; }
.pfi-process-data-flow-data-store:before { content: "\ecae"; }
.pfi-process-data-flow-external-entity:before { content: "\ecaf"; }
.pfi-process-data-flow-process-circle:before { content: "\ecb0"; }
.pfi-process-data-flow-process-square:before { content: "\ecb1"; }
.pfi-process-erd:before { content: "\ecb2"; }
.pfi-process-flow-arrow:before { content: "\ecb3"; }
.pfi-process-flow-comment:before { content: "\ecb4"; }
.pfi-process-flow-connector:before { content: "\ecb5"; }
.pfi-process-flow-data:before { content: "\ecb6"; }
.pfi-process-flow-database:before { content: "\ecb7"; }
.pfi-process-flow-decision:before { content: "\ecb8"; }
.pfi-process-flow-delay:before { content: "\ecb9"; }
.pfi-process-flow-display:before { content: "\ecba"; }
.pfi-process-flow-document:before { content: "\ecbb"; }
.pfi-process-flow-documents:before { content: "\ecbc"; }
.pfi-process-flow-hard-disk:before { content: "\ecbd"; }
.pfi-process-flow-internal-storage:before { content: "\ecbe"; }
.pfi-process-flow-manual-input:before { content: "\ecbf"; }
.pfi-process-flow-manual-operation:before { content: "\ecc0"; }
.pfi-process-flow-merge:before { content: "\ecc1"; }
.pfi-process-flow-note:before { content: "\ecc2"; }
.pfi-process-flow-off-page-link:before { content: "\ecc3"; }
.pfi-process-flow-or:before { content: "\ecc4"; }
.pfi-process-flow-paper-tape:before { content: "\ecc5"; }
.pfi-process-flow-predefined-process:before { content: "\ecc6"; }
.pfi-process-flow-preperation:before { content: "\ecc7"; }
.pfi-process-flow-process:before { content: "\ecc8"; }
.pfi-process-flow-stored-data:before { content: "\ecc9"; }
.pfi-process-flow-summing-junction:before { content: "\ecca"; }
.pfi-process-flow-terminator:before { content: "\eccb"; }
.pfi-process-map-alt-1:before { content: "\eccc"; }
.pfi-process-map:before { content: "\eccd"; }
.pfi-process-uml-attribute:before { content: "\ecce"; }
.pfi-process-uml-branch-merge:before { content: "\eccf"; }
.pfi-process-uml-component:before { content: "\ecd0"; }
.pfi-process-uml-end:before { content: "\ecd1"; }
.pfi-process-uml-entity:before { content: "\ecd2"; }
.pfi-process-uml-multivalued-attribute:before { content: "\ecd3"; }
.pfi-process-uml-note:before { content: "\ecd4"; }
.pfi-process-uml-receive-signal:before { content: "\ecd5"; }
.pfi-process-uml-relationship:before { content: "\ecd6"; }
.pfi-process-uml-send-signal:before { content: "\ecd7"; }
.pfi-process-uml-start:before { content: "\ecd8"; }
.pfi-process-uml-weak-entity:before { content: "\ecd9"; }
.pfi-process-uml-weak-relationship:before { content: "\ecda"; }
.pfi-produce-apple:before { content: "\ecdb"; }
.pfi-produce-bean:before { content: "\ecdc"; }
.pfi-produce-broccoli:before { content: "\ecdd"; }
.pfi-produce-carrot:before { content: "\ecde"; }
.pfi-produce-cherries:before { content: "\ecdf"; }
.pfi-produce-corn:before { content: "\ece0"; }
.pfi-produce-eggplant:before { content: "\ece1"; }
.pfi-produce-grape:before { content: "\ece2"; }
.pfi-produce-orange:before { content: "\ece3"; }
.pfi-produce-pear:before { content: "\ece4"; }
.pfi-produce-pepper-chili:before { content: "\ece5"; }
.pfi-produce-pepper-jalapeno:before { content: "\ece6"; }
.pfi-produce-pineapple:before { content: "\ece7"; }
.pfi-produce-strawberry:before { content: "\ece8"; }
.pfi-produce-watermelon:before { content: "\ece9"; }
.pfi-profile-circle:before { content: "\ecea"; }
.pfi-profile:before { content: "\eceb"; }
.pfi-programming-ada:before { content: "\ecec"; }
.pfi-programming-apache-cordova:before { content: "\eced"; }
.pfi-programming-apache-couch-db:before { content: "\ecee"; }
.pfi-programming-apache-kafka:before { content: "\ecef"; }
.pfi-programming-apache-net-beans:before { content: "\ecf0"; }
.pfi-programming-assembly:before { content: "\ecf1"; }
.pfi-programming-bash:before { content: "\ecf2"; }
.pfi-programming-c-plus-plus:before { content: "\ecf3"; }
.pfi-programming-c-sharp:before { content: "\ecf4"; }
.pfi-programming-carbon:before { content: "\ecf5"; }
.pfi-programming-dart:before { content: "\ecf6"; }
.pfi-programming-erlang:before { content: "\ecf7"; }
.pfi-programming-f-sharp:before { content: "\ecf8"; }
.pfi-programming-fortran:before { content: "\ecf9"; }
.pfi-programming-framework-react:before { content: "\ecfa"; }
.pfi-programming-go:before { content: "\ecfb"; }
.pfi-programming-haskell:before { content: "\ecfc"; }
.pfi-programming-java:before { content: "\ecfd"; }
.pfi-programming-javascript:before { content: "\ecfe"; }
.pfi-programming-kotlin:before { content: "\ecff"; }
.pfi-programming-lisp:before { content: "\ed00"; }
.pfi-programming-nodejs-alt:before { content: "\ed01"; }
.pfi-programming-npm:before { content: "\ed02"; }
.pfi-programming-o-caml:before { content: "\ed03"; }
.pfi-programming-objective-c:before { content: "\ed04"; }
.pfi-programming-php:before { content: "\ed05"; }
.pfi-programming-postgresql:before { content: "\ed06"; }
.pfi-programming-python:before { content: "\ed07"; }
.pfi-programming-redis:before { content: "\ed08"; }
.pfi-programming-rust:before { content: "\ed09"; }
.pfi-programming-typescript:before { content: "\ed0a"; }
.pfi-project-cycle:before { content: "\ed0b"; }
.pfi-project-mgmt:before { content: "\ed0c"; }
.pfi-project:before { content: "\ed0d"; }
.pfi-projector-screen:before { content: "\ed0e"; }
.pfi-projector:before { content: "\ed0f"; }
.pfi-property-book:before { content: "\ed10"; }
.pfi-pulse-circle:before { content: "\ed11"; }
.pfi-pulse:before { content: "\ed12"; }
.pfi-puzzle-piece:before { content: "\ed13"; }
.pfi-qr-code:before { content: "\ed14"; }
.pfi-question-circle:before { content: "\ed15"; }
.pfi-question:before { content: "\ed16"; }
.pfi-radiation-alt-1:before { content: "\ed17"; }
.pfi-radiation:before { content: "\ed18"; }
.pfi-radio-handheld:before { content: "\ed19"; }
.pfi-radio:before { content: "\ed1a"; }
.pfi-raspberry-pi:before { content: "\ed1b"; }
.pfi-record:before { content: "\ed1c"; }
.pfi-redo:before { content: "\ed1d"; }
.pfi-refresh-chunky:before { content: "\ed1e"; }
.pfi-refresh:before { content: "\ed1f"; }
.pfi-registration-desk:before { content: "\ed20"; }
.pfi-religion-akan:before { content: "\ed21"; }
.pfi-religion-bahai:before { content: "\ed22"; }
.pfi-religion-buddhism:before { content: "\ed23"; }
.pfi-religion-celtic-neopaganism:before { content: "\ed24"; }
.pfi-religion-chinese-folk-religion:before { content: "\ed25"; }
.pfi-religion-christianity:before { content: "\ed26"; }
.pfi-religion-hellenism:before { content: "\ed27"; }
.pfi-religion-hinduism:before { content: "\ed28"; }
.pfi-religion-isese:before { content: "\ed29"; }
.pfi-religion-islam:before { content: "\ed2a"; }
.pfi-religion-jainism:before { content: "\ed2b"; }
.pfi-religion-jewitchery:before { content: "\ed2c"; }
.pfi-religion-judaism:before { content: "\ed2d"; }
.pfi-religion-kemetism:before { content: "\ed2e"; }
.pfi-religion-lds:before { content: "\ed2f"; }
.pfi-religion-mexicayotl:before { content: "\ed30"; }
.pfi-religion-natib-qadish:before { content: "\ed31"; }
.pfi-religion-native-american-church:before { content: "\ed32"; }
.pfi-religion-neo-pagan:before { content: "\ed33"; }
.pfi-religion-norse:before { content: "\ed34"; }
.pfi-religion-satanism:before { content: "\ed35"; }
.pfi-religion-serer:before { content: "\ed36"; }
.pfi-religion-shinto:before { content: "\ed37"; }
.pfi-religion-sikhism:before { content: "\ed38"; }
.pfi-religion-slavic-native-faith:before { content: "\ed39"; }
.pfi-religion-taoism-alt-1:before { content: "\ed3a"; }
.pfi-religion-taoism:before { content: "\ed3b"; }
.pfi-religion-thelema:before { content: "\ed3c"; }
.pfi-religion-unitarian-universalism:before { content: "\ed3d"; }
.pfi-religion-wicca:before { content: "\ed3e"; }
.pfi-religion-zoroastrianism:before { content: "\ed3f"; }
.pfi-reports:before { content: "\ed40"; }
.pfi-retro-logo-badge-alt-1:before { content: "\ed41"; }
.pfi-retro-logo-badge-alt-2:before { content: "\ed42"; }
.pfi-retro-logo-badge-alt-3:before { content: "\ed43"; }
.pfi-retro-logo-badge:before { content: "\ed44"; }
.pfi-retro-logo-circle:before { content: "\ed45"; }
.pfi-retro-logo-ribbon-alt-1:before { content: "\ed46"; }
.pfi-retro-logo-ribbon-alt-2:before { content: "\ed47"; }
.pfi-retro-logo-ribbon-ends:before { content: "\ed48"; }
.pfi-retro-logo-ribbon:before { content: "\ed49"; }
.pfi-rfid:before { content: "\ed4a"; }
.pfi-ribbon:before { content: "\ed4b"; }
.pfi-river-stream-creek:before { content: "\ed4c"; }
.pfi-road-cone:before { content: "\ed4d"; }
.pfi-robotics-arm-automation:before { content: "\ed4e"; }
.pfi-rocket:before { content: "\ed4f"; }
.pfi-rss:before { content: "\ed50"; }
.pfi-ruck:before { content: "\ed51"; }
.pfi-safe:before { content: "\ed52"; }
.pfi-satellite-dish:before { content: "\ed53"; }
.pfi-satellite:before { content: "\ed54"; }
.pfi-sauce:before { content: "\ed55"; }
.pfi-scale:before { content: "\ed56"; }
.pfi-scissors:before { content: "\ed57"; }
.pfi-scroll-filled-alt:before { content: "\ed58"; }
.pfi-scroll-filled:before { content: "\ed59"; }
.pfi-scroll-horizontal:before { content: "\ed5a"; }
.pfi-scroll-vertical:before { content: "\ed5b"; }
.pfi-scroll:before { content: "\ed5c"; }
.pfi-server:before { content: "\ed5d"; }
.pfi-seven-segment-0:before { content: "\ed5e"; }
.pfi-seven-segment-1:before { content: "\ed5f"; }
.pfi-seven-segment-2:before { content: "\ed60"; }
.pfi-seven-segment-3:before { content: "\ed61"; }
.pfi-seven-segment-4:before { content: "\ed62"; }
.pfi-seven-segment-5:before { content: "\ed63"; }
.pfi-seven-segment-6:before { content: "\ed64"; }
.pfi-seven-segment-7:before { content: "\ed65"; }
.pfi-seven-segment-8:before { content: "\ed66"; }
.pfi-seven-segment-9:before { content: "\ed67"; }
.pfi-seven-segment:before { content: "\ed68"; }
.pfi-shape-circle-empty:before { content: "\ed69"; }
.pfi-shape-circle-filled:before { content: "\ed6a"; }
.pfi-shape-diamond-empty:before { content: "\ed6b"; }
.pfi-shape-diamond-filled:before { content: "\ed6c"; }
.pfi-shape-oval-empty:before { content: "\ed6d"; }
.pfi-shape-oval-filled:before { content: "\ed6e"; }
.pfi-shape-parallelogram-solid:before { content: "\ed6f"; }
.pfi-shape-rectangle-empty:before { content: "\ed70"; }
.pfi-shape-rectangle-filled:before { content: "\ed71"; }
.pfi-shape-square-outline:before { content: "\ed72"; }
.pfi-shape-square:before { content: "\ed73"; }
.pfi-shape-triangle-down-empty:before { content: "\ed74"; }
.pfi-shape-triangle-down-solid:before { content: "\ed75"; }
.pfi-shape-triangle-left-empty:before { content: "\ed76"; }
.pfi-shape-triangle-left-solid:before { content: "\ed77"; }
.pfi-shape-triangle-right-empty:before { content: "\ed78"; }
.pfi-shape-triangle-right-solid:before { content: "\ed79"; }
.pfi-shape-triangle-up-empty:before { content: "\ed7a"; }
.pfi-shape-triangle-up-solid:before { content: "\ed7b"; }
.pfi-shapes-alt-1:before { content: "\ed7c"; }
.pfi-shapes-alt-2:before { content: "\ed7d"; }
.pfi-shapes:before { content: "\ed7e"; }
.pfi-share:before { content: "\ed7f"; }
.pfi-shield:before { content: "\ed80"; }
.pfi-shopping-cart:before { content: "\ed81"; }
.pfi-sights:before { content: "\ed82"; }
.pfi-signal:before { content: "\ed83"; }
.pfi-signature:before { content: "\ed84"; }
.pfi-silo:before { content: "\ed85"; }
.pfi-skull-crossbones-alt:before { content: "\ed86"; }
.pfi-skull-crossbones:before { content: "\ed87"; }
.pfi-social-facebook:before { content: "\ed88"; }
.pfi-social-hacker-news:before { content: "\ed89"; }
.pfi-social-instagram:before { content: "\ed8a"; }
.pfi-social-linkedin:before { content: "\ed8b"; }
.pfi-social-mastodon:before { content: "\ed8c"; }
.pfi-social-reddit:before { content: "\ed8d"; }
.pfi-social-serverfault:before { content: "\ed8e"; }
.pfi-social-snapchat:before { content: "\ed8f"; }
.pfi-social-stackoverflow:before { content: "\ed90"; }
.pfi-social-tiktok:before { content: "\ed91"; }
.pfi-social-tumbler:before { content: "\ed92"; }
.pfi-social-twitter:before { content: "\ed93"; }
.pfi-social-vimeo:before { content: "\ed94"; }
.pfi-social-vine:before { content: "\ed95"; }
.pfi-social-youtube:before { content: "\ed96"; }
.pfi-software-blender:before { content: "\ed97"; }
.pfi-software-browser-brave:before { content: "\ed98"; }
.pfi-software-browser-chrome:before { content: "\ed99"; }
.pfi-software-browser-edge:before { content: "\ed9a"; }
.pfi-software-browser-firefox:before { content: "\ed9b"; }
.pfi-software-browser-safari:before { content: "\ed9c"; }
.pfi-software-evernote:before { content: "\ed9d"; }
.pfi-software-gimp:before { content: "\ed9e"; }
.pfi-software-git:before { content: "\ed9f"; }
.pfi-software-gitea:before { content: "\eda0"; }
.pfi-software-gnome:before { content: "\eda1"; }
.pfi-software-google-drive:before { content: "\eda2"; }
.pfi-software-inkscape:before { content: "\eda3"; }
.pfi-software-leaflet:before { content: "\eda4"; }
.pfi-software-mongodb:before { content: "\eda5"; }
.pfi-software-ms-365:before { content: "\eda6"; }
.pfi-software-ms-excel:before { content: "\eda7"; }
.pfi-software-ms-one-drive:before { content: "\eda8"; }
.pfi-software-ms-outlook:before { content: "\eda9"; }
.pfi-software-ms-powerpoint:before { content: "\edaa"; }
.pfi-software-ms-sharepoint:before { content: "\edab"; }
.pfi-software-ms-teams:before { content: "\edac"; }
.pfi-software-ms-word:before { content: "\edad"; }
.pfi-software-nginx:before { content: "\edae"; }
.pfi-software-notepad-plus-plus:before { content: "\edaf"; }
.pfi-software-notion:before { content: "\edb0"; }
.pfi-software-signal-msg:before { content: "\edb1"; }
.pfi-software-slack:before { content: "\edb2"; }
.pfi-software-svn-tortoise:before { content: "\edb3"; }
.pfi-software-trello:before { content: "\edb4"; }
.pfi-software-visual-studio-code:before { content: "\edb5"; }
.pfi-software-vlc:before { content: "\edb6"; }
.pfi-software-webpack:before { content: "\edb7"; }
.pfi-solar-panel:before { content: "\edb8"; }
.pfi-sop:before { content: "\edb9"; }
.pfi-speaker-off:before { content: "\edba"; }
.pfi-speaker-on:before { content: "\edbb"; }
.pfi-spinner-0:before { content: "\edbc"; }
.pfi-spinner-1:before { content: "\edbd"; }
.pfi-spinner-2:before { content: "\edbe"; }
.pfi-spinner-3:before { content: "\edbf"; }
.pfi-spinner-4:before { content: "\edc0"; }
.pfi-spinner-5:before { content: "\edc1"; }
.pfi-spinner-6:before { content: "\edc2"; }
.pfi-spinner-7:before { content: "\edc3"; }
.pfi-sport-baseball:before { content: "\edc4"; }
.pfi-sport-basketball:before { content: "\edc5"; }
.pfi-sport-football:before { content: "\edc6"; }
.pfi-sport-golf-ball:before { content: "\edc7"; }
.pfi-sport-tennis-ball:before { content: "\edc8"; }
.pfi-sport-volleyball:before { content: "\edc9"; }
.pfi-stamp:before { content: "\edca"; }
.pfi-star-empty:before { content: "\edcb"; }
.pfi-star-filled:before { content: "\edcc"; }
.pfi-star-half:before { content: "\edcd"; }
.pfi-state-ak:before { content: "\edce"; }
.pfi-state-al:before { content: "\edcf"; }
.pfi-state-ar:before { content: "\edd0"; }
.pfi-state-az:before { content: "\edd1"; }
.pfi-state-ca:before { content: "\edd2"; }
.pfi-state-co:before { content: "\edd3"; }
.pfi-state-ct:before { content: "\edd4"; }
.pfi-state-dc:before { content: "\edd5"; }
.pfi-state-de:before { content: "\edd6"; }
.pfi-state-fl:before { content: "\edd7"; }
.pfi-state-ga:before { content: "\edd8"; }
.pfi-state-hi:before { content: "\edd9"; }
.pfi-state-ia:before { content: "\edda"; }
.pfi-state-id:before { content: "\eddb"; }
.pfi-state-il:before { content: "\eddc"; }
.pfi-state-in:before { content: "\eddd"; }
.pfi-state-ks:before { content: "\edde"; }
.pfi-state-ky:before { content: "\eddf"; }
.pfi-state-la:before { content: "\ede0"; }
.pfi-state-ma:before { content: "\ede1"; }
.pfi-state-md:before { content: "\ede2"; }
.pfi-state-me:before { content: "\ede3"; }
.pfi-state-mi:before { content: "\ede4"; }
.pfi-state-mn:before { content: "\ede5"; }
.pfi-state-mo:before { content: "\ede6"; }
.pfi-state-ms:before { content: "\ede7"; }
.pfi-state-mt:before { content: "\ede8"; }
.pfi-state-nc:before { content: "\ede9"; }
.pfi-state-nd:before { content: "\edea"; }
.pfi-state-ne:before { content: "\edeb"; }
.pfi-state-nh:before { content: "\edec"; }
.pfi-state-nj:before { content: "\eded"; }
.pfi-state-nm:before { content: "\edee"; }
.pfi-state-nv:before { content: "\edef"; }
.pfi-state-ny:before { content: "\edf0"; }
.pfi-state-oh:before { content: "\edf1"; }
.pfi-state-ok:before { content: "\edf2"; }
.pfi-state-or:before { content: "\edf3"; }
.pfi-state-pa:before { content: "\edf4"; }
.pfi-state-pr:before { content: "\edf5"; }
.pfi-state-ri:before { content: "\edf6"; }
.pfi-state-sc:before { content: "\edf7"; }
.pfi-state-sd:before { content: "\edf8"; }
.pfi-state-tn:before { content: "\edf9"; }
.pfi-state-tx:before { content: "\edfa"; }
.pfi-state-ut:before { content: "\edfb"; }
.pfi-state-va:before { content: "\edfc"; }
.pfi-state-vt:before { content: "\edfd"; }
.pfi-state-wa:before { content: "\edfe"; }
.pfi-state-wi:before { content: "\edff"; }
.pfi-state-wv:before { content: "\ee00"; }
.pfi-state-wy:before { content: "\ee01"; }
.pfi-sticky-note:before { content: "\ee02"; }
.pfi-stop-light:before { content: "\ee03"; }
.pfi-stop-sign:before { content: "\ee04"; }
.pfi-store-marketplace:before { content: "\ee05"; }
.pfi-strategy:before { content: "\ee06"; }
.pfi-strikethrough:before { content: "\ee07"; }
.pfi-subscript:before { content: "\ee08"; }
.pfi-superscript:before { content: "\ee09"; }
.pfi-support:before { content: "\ee0a"; }
.pfi-survey-benchmark-perm:before { content: "\ee0b"; }
.pfi-survey-benchmark:before { content: "\ee0c"; }
.pfi-survey-borehole:before { content: "\ee0d"; }
.pfi-survey-electrical-box:before { content: "\ee0e"; }
.pfi-survey-electrical-cable-marker:before { content: "\ee0f"; }
.pfi-survey-electrical-pit:before { content: "\ee10"; }
.pfi-survey-electrical-pole:before { content: "\ee11"; }
.pfi-survey-electrical-stay-pole:before { content: "\ee12"; }
.pfi-survey-fire-hydrant-manhole:before { content: "\ee13"; }
.pfi-survey-fire-hydrant-pillar:before { content: "\ee14"; }
.pfi-survey-flag-pole:before { content: "\ee15"; }
.pfi-survey-gas-manhole:before { content: "\ee16"; }
.pfi-survey-gas-marker:before { content: "\ee17"; }
.pfi-survey-gas-valve:before { content: "\ee18"; }
.pfi-survey-guide-post:before { content: "\ee19"; }
.pfi-survey-guide-sign:before { content: "\ee1a"; }
.pfi-survey-gully-trap:before { content: "\ee1b"; }
.pfi-survey-hose-box-reel:before { content: "\ee1c"; }
.pfi-survey-hydrant-marker:before { content: "\ee1d"; }
.pfi-survey-inspection-opening:before { content: "\ee1e"; }
.pfi-survey-parking-meter:before { content: "\ee1f"; }
.pfi-survey-post:before { content: "\ee20"; }
.pfi-survey-sewer-manhole:before { content: "\ee21"; }
.pfi-survey-sewer-vent:before { content: "\ee22"; }
.pfi-survey-shrub:before { content: "\ee23"; }
.pfi-survey-signs:before { content: "\ee24"; }
.pfi-survey-sprinkler:before { content: "\ee25"; }
.pfi-survey-stop-sluice-valve:before { content: "\ee26"; }
.pfi-survey-storm-manhole:before { content: "\ee27"; }
.pfi-survey-street-name-sign:before { content: "\ee28"; }
.pfi-survey-survey-station:before { content: "\ee29"; }
.pfi-survey-tap:before { content: "\ee2a"; }
.pfi-survey-telcom-manhole:before { content: "\ee2b"; }
.pfi-survey-telcom-pillar:before { content: "\ee2c"; }
.pfi-survey-telcom-pit:before { content: "\ee2d"; }
.pfi-survey-telephone-pole:before { content: "\ee2e"; }
.pfi-survey-traffic-lights:before { content: "\ee2f"; }
.pfi-survey-traffic-pit:before { content: "\ee30"; }
.pfi-survey-transformer-overhead:before { content: "\ee31"; }
.pfi-survey-tree:before { content: "\ee32"; }
.pfi-survey-unknown-manhole:before { content: "\ee33"; }
.pfi-survey-water-air-valve:before { content: "\ee34"; }
.pfi-survey-water-end-cap:before { content: "\ee35"; }
.pfi-survey-water-manhole:before { content: "\ee36"; }
.pfi-survey-water-meter:before { content: "\ee37"; }
.pfi-survey-water-reducer:before { content: "\ee38"; }
.pfi-survey-water-reflux-valve:before { content: "\ee39"; }
.pfi-survey-water-sample-point:before { content: "\ee3a"; }
.pfi-survey-water-scour-valve:before { content: "\ee3b"; }
.pfi-survey-water-tee-junction:before { content: "\ee3c"; }
.pfi-survey-water-valve-marker:before { content: "\ee3d"; }
.pfi-survey-water-valve:before { content: "\ee3e"; }
.pfi-survey:before { content: "\ee3f"; }
.pfi-sw-rebel-alliance:before { content: "\ee40"; }
.pfi-sw-republic:before { content: "\ee41"; }
.pfi-tag:before { content: "\ee42"; }
.pfi-tags:before { content: "\ee43"; }
.pfi-target:before { content: "\ee44"; }
.pfi-task-assign:before { content: "\ee45"; }
.pfi-task-mgmt:before { content: "\ee46"; }
.pfi-task:before { content: "\ee47"; }
.pfi-tattoo-gun:before { content: "\ee48"; }
.pfi-template:before { content: "\ee49"; }
.pfi-terminal:before { content: "\ee4a"; }
.pfi-testing:before { content: "\ee4b"; }
.pfi-thumb-down-empty:before { content: "\ee4c"; }
.pfi-thumb-down-filled:before { content: "\ee4d"; }
.pfi-thumb-up-empty:before { content: "\ee4e"; }
.pfi-thumb-up-filled:before { content: "\ee4f"; }
.pfi-thumbtack:before { content: "\ee50"; }
.pfi-tie:before { content: "\ee51"; }
.pfi-timeline-alt-1:before { content: "\ee52"; }
.pfi-timeline-alt-2:before { content: "\ee53"; }
.pfi-timeline:before { content: "\ee54"; }
.pfi-toggle-off:before { content: "\ee55"; }
.pfi-toggle-on:before { content: "\ee56"; }
.pfi-toilet:before { content: "\ee57"; }
.pfi-tool-broom:before { content: "\ee58"; }
.pfi-tool-hammer:before { content: "\ee59"; }
.pfi-tool-knife:before { content: "\ee5a"; }
.pfi-tool-pick-axe:before { content: "\ee5b"; }
.pfi-tool-saw:before { content: "\ee5c"; }
.pfi-tool-screw-driver:before { content: "\ee5d"; }
.pfi-tool-shovel:before { content: "\ee5e"; }
.pfi-tool-square:before { content: "\ee5f"; }
.pfi-tool-weld-helmet:before { content: "\ee60"; }
.pfi-tool-wrench:before { content: "\ee61"; }
.pfi-torch:before { content: "\ee62"; }
.pfi-training-mgmt:before { content: "\ee63"; }
.pfi-translation:before { content: "\ee64"; }
.pfi-trash:before { content: "\ee65"; }
.pfi-trogdor:before { content: "\ee66"; }
.pfi-trophy:before { content: "\ee67"; }
.pfi-undo:before { content: "\ee68"; }
.pfi-usage-stats:before { content: "\ee69"; }
.pfi-usb:before { content: "\ee6a"; }
.pfi-valve:before { content: "\ee6b"; }
.pfi-version:before { content: "\ee6c"; }
.pfi-versions:before { content: "\ee6d"; }
.pfi-vr:before { content: "\ee6e"; }
.pfi-waveform-saw-tooth:before { content: "\ee6f"; }
.pfi-waveform-sine:before { content: "\ee70"; }
.pfi-waveform-square:before { content: "\ee71"; }
.pfi-waveform-triangle:before { content: "\ee72"; }
.pfi-welcome-letter-alt-1:before { content: "\ee73"; }
.pfi-welcome-letter:before { content: "\ee74"; }
.pfi-wifi-router:before { content: "\ee75"; }
.pfi-wifi:before { content: "\ee76"; }
.pfi-window-close:before { content: "\ee77"; }
.pfi-window-maximize-alt:before { content: "\ee78"; }
.pfi-window-maximize:before { content: "\ee79"; }
.pfi-window-minimize-alt:before { content: "\ee7a"; }
.pfi-window-minimize:before { content: "\ee7b"; }
.pfi-window-restore-alt:before { content: "\ee7c"; }
.pfi-window-restore:before { content: "\ee7d"; }
.pfi-world-globe-alt-1:before { content: "\ee7e"; }
.pfi-world-globe-alt-2:before { content: "\ee7f"; }
.pfi-world-globe:before { content: "\ee80"; }
.pfi-wx-bkn-sunny-cloudy:before { content: "\ee81"; }
.pfi-wx-blizzard:before { content: "\ee82"; }
.pfi-wx-cloud:before { content: "\ee83"; }
.pfi-wx-cloudy-gusts:before { content: "\ee84"; }
.pfi-wx-cloudy-windy:before { content: "\ee85"; }
.pfi-wx-cloudy:before { content: "\ee86"; }
.pfi-wx-cold:before { content: "\ee87"; }
.pfi-wx-dust-storm:before { content: "\ee88"; }
.pfi-wx-dust:before { content: "\ee89"; }
.pfi-wx-few-sunny-lightly-cloudy:before { content: "\ee8a"; }
.pfi-wx-fire:before { content: "\ee8b"; }
.pfi-wx-fog:before { content: "\ee8c"; }
.pfi-wx-freezing-rain:before { content: "\ee8d"; }
.pfi-wx-gale-warning:before { content: "\ee8e"; }
.pfi-wx-hail:before { content: "\ee8f"; }
.pfi-wx-hot:before { content: "\ee90"; }
.pfi-wx-humidity:before { content: "\ee91"; }
.pfi-wx-hurricane-warn:before { content: "\ee92"; }
.pfi-wx-hurricane-warning:before { content: "\ee93"; }
.pfi-wx-hurricane:before { content: "\ee94"; }
.pfi-wx-lightning-alt:before { content: "\ee95"; }
.pfi-wx-lightning-two-electric-boogaloo:before { content: "\ee96"; }
.pfi-wx-lightning:before { content: "\ee97"; }
.pfi-wx-lightningstorm:before { content: "\ee98"; }
.pfi-wx-rain-hail-mix:before { content: "\ee99"; }
.pfi-wx-rain-mix:before { content: "\ee9a"; }
.pfi-wx-rain-snow-mix:before { content: "\ee9b"; }
.pfi-wx-rain:before { content: "\ee9c"; }
.pfi-wx-sandstorm:before { content: "\ee9d"; }
.pfi-wx-showers-alt:before { content: "\ee9e"; }
.pfi-wx-showers:before { content: "\ee9f"; }
.pfi-wx-sleet:before { content: "\eea0"; }
.pfi-wx-small-craft-warning:before { content: "\eea1"; }
.pfi-wx-smog:before { content: "\eea2"; }
.pfi-wx-smoke:before { content: "\eea3"; }
.pfi-wx-snow-alt:before { content: "\eea4"; }
.pfi-wx-snow-wind:before { content: "\eea5"; }
.pfi-wx-snow:before { content: "\eea6"; }
.pfi-wx-snowflake-cold:before { content: "\eea7"; }
.pfi-wx-solar-eclipse:before { content: "\eea8"; }
.pfi-wx-sprinkle:before { content: "\eea9"; }
.pfi-wx-storm-showers:before { content: "\eeaa"; }
.pfi-wx-storm-warning:before { content: "\eeab"; }
.pfi-wx-strong-wind:before { content: "\eeac"; }
.pfi-wx-sunny:before { content: "\eead"; }
.pfi-wx-sunrise:before { content: "\eeae"; }
.pfi-wx-sunset:before { content: "\eeaf"; }
.pfi-wx-thermometer-0:before { content: "\eeb0"; }
.pfi-wx-thermometer-100:before { content: "\eeb1"; }
.pfi-wx-thermometer-25:before { content: "\eeb2"; }
.pfi-wx-thermometer-50:before { content: "\eeb3"; }
.pfi-wx-thermometer-75:before { content: "\eeb4"; }
.pfi-wx-thunderstorm-alt:before { content: "\eeb5"; }
.pfi-wx-thunderstorm:before { content: "\eeb6"; }
.pfi-wx-tornado-alt:before { content: "\eeb7"; }
.pfi-wx-tornado:before { content: "\eeb8"; }
.pfi-wx-tsunami:before { content: "\eeb9"; }
.pfi-wx-wild-fire:before { content: "\eeba"; }
.pfi-wx-wind-beufort-0:before { content: "\eebb"; }
.pfi-wx-wind-beufort-1:before { content: "\eebc"; }
.pfi-wx-wind-beufort-10:before { content: "\eebd"; }
.pfi-wx-wind-beufort-11:before { content: "\eebe"; }
.pfi-wx-wind-beufort-12:before { content: "\eebf"; }
.pfi-wx-wind-beufort-2:before { content: "\eec0"; }
.pfi-wx-wind-beufort-3:before { content: "\eec1"; }
.pfi-wx-wind-beufort-4:before { content: "\eec2"; }
.pfi-wx-wind-beufort-5:before { content: "\eec3"; }
.pfi-wx-wind-beufort-6:before { content: "\eec4"; }
.pfi-wx-wind-beufort-7:before { content: "\eec5"; }
.pfi-wx-wind-beufort-8:before { content: "\eec6"; }
.pfi-wx-wind-beufort-9:before { content: "\eec7"; }
.pfi-wx-wind-deg:before { content: "\eec8"; }
.pfi-wx-wind-rain:before { content: "\eec9"; }
.pfi-wx-wind:before { content: "\eeca"; }
.pfi-wx-windy:before { content: "\eecb"; }
.pfi-X:before { content: "\eecc"; }
